<div class="container">
    <h1>Editing Voisin</h1>
 </div>

<%= render 'form', voisin: @voisin %>

<p></p>

<div class="container">
<%= link_to 'Details', @voisin, class:"btn btn-outline-info"%> |
<%= link_to 'Back', voisins_path, class:"btn btn-outline-info" %>
</div>